- depend_on(local_assigns)
.indented-example
  - with_local(:name) do |name|
    %p Hello, #{name}.
  - without_local(:name) do
    %p Hello, there.

  - with_local(:name) do |name|
    %p Listen, #{name}, it's been fun, but I have to get going.

  - with_global(:foo) do |foo|
    %p Here's something from the controller: #{foo}
